<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Converters Currency</title>
    <style>

        .currencyCourse {
            height: 300px;
            width: 500px;
            margin: auto;
            overflow: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        thead th {
            position: sticky;
            top: 0;
            background: white;
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="currencyCourse">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>nominal</th>
            <th>name</th>
            <th>value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currencyCourse : ${currencyList}">
            <td th:text="${currencyCourse.charCode}"></td>
            <td th:text="${currencyCourse.nominal}"></td>
            <td th:text="${currencyCourse.name}"></td>
            <td th:text="${currencyCourse.value}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>